.pagina-contato {
  .cabecalho {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .icone-contato {
    height: 400px;
  }

  .voltar {
    size: 400px;
  }

  .h1 {
    color: rgb(26, 18, 181);
  }
}